/* ========= FONT ========= */
@font-face {
    font-family: 'Raleway';
    src: url('../assets/font/Raleway-Regular.woff2') format('woff2'),
        url('../assets/font/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/font/Raleway-Bold.woff2') format('woff2'),
        url('../assets/font/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/font/OpenSans.woff2') format('woff2'),
        url('../assets/font/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/font/OpenSans-Bold.woff2') format('woff2'),
        url('../assets/font/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    /* ========= COLORS PRIMARY ========= */
    --dark-blue: hsl(217, 28%, 15%); /*intro and email sign up background*/
    --dark-blue-bg: hsl(218, 28%, 13%); /*main background*/
    --dark-blue-footer: hsl(216, 53%, 9%); /*footer background*/
    --dark-blue-testimonial: hsl(219, 30%, 18%); /*testimonials background*/
    
    /* ========= COLORS NEUTRAL ========= */
    --cyan: hsl(176, 68%, 64%); /*inside call-to-action gradient*/
    --blue: hsl(198, 60%, 50%); /*inside call-to-action gradient*/
    --light-red: hsl(0, 100%, 63%); /*error*/

    /* ========= NEUTRAL ========= */
    --white: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font-a: 'Raleway';
    --body-font-b: 'Open Sans';

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-bold: 700;

    /*========== Font size ==========*/
    --font-normal: 14px;
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-blue-bg);
    color: var(--white);
}

h1, h2, h3 {
    font-family: var(--body-font-a);
}

p {
    font-family: var(--body-font-b);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CLASSES ===============*/
.container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.section {
    padding: 4rem 1rem 1rem;
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--dark-blue);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_logo {
    width: 40%;
    cursor: pointer;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.nav_link {
    color: var(--white);
    font-family: var(--body-font-a);
    cursor: pointer;
    font-size: 13px;
}

.nav_link:hover {
    text-decoration: underline;
    font-weight: var(--font-bold);
}

/* Change background header */
.scroll_header {
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

/*=============== MAIN ===============*/
/*=============== INTRO SECTION  ===============*/
.intro {
    background: var(--dark-blue) url("../assets/img/bg-curvy-mobile.svg") bottom
    no-repeat;
    background-size: 170% 24rem;
}

.intro-container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
    z-index: 1;
}

.intro-info {
    text-align: center;
}

.illus-intro {
    max-width: 90%;
    height: auto;
}

.intro-title {
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.intro-description {
    font-family: var(--body-font-b);
    font-size: var(--font-normal);
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.intro-button {
    width: 15rem;
    height: 3rem;
    font-family: var(--body-font-a);
    font-weight: var(--font-bold);
    background-image: linear-gradient(225deg, var(--blue) 0%, var(--cyan) 100%);
    color: var(--white);
    border-radius: 5rem;
    font-size: 1rem;
}

.intro-button:hover {
    background-image: linear-gradient(225deg, #65e2d9 0%, #65e2d9 100%);
}

/*=============== SERVICES SECTION ===============*/
.services-container {
    padding-top: 1rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: var(--font-bold);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box {
    margin-bottom: 4rem;
}

.services-icon {
    width: 60px;
}

.service-description {
    font-family: var(--body-font-b);
    font-size: var(--font-normal);
    font-weight: var(--font-regular);
}

/*=============== PRODUCTIVE SECTION ===============*/
.productive-info {
    text-align: center;
    margin-top: 2rem;
}

.productive-title {
    font-size: 1.2rem;
}

.productive-description {
    text-align: left;
    font-family: var(--body-font-b);
    font-size: var(--font-normal);
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.productive-arrow {
    padding-left: 8px;
}

.productive-link {
    display: flex;
    align-items: center;
    color: var(--cyan);
    font-family: var(--body-font-b);
    font-size: var(--font-normal);
    cursor: pointer;
}

.productive-link .link-decoration {
    position: absolute;
    height: 1.2px;
    width: 150px;
    transform: translateY(1rem);
    z-index: 1;
    border-radius: 1rem;
    opacity: 1;
    transition: all 0.4s ease;
    background-color: var(--cyan);
}

.productive-link:hover {
    color: var(--white);
}

.productive-arrow:hover {
    filter: brightness(0) invert(100%);
}

.productive-link:hover .link-decoration {
    background-color: var(--white);
}

/*=============== TESTIMONIAL SECTION ===============*/
.testimonial_card {
    background-color: var(--dark-blue-testimonial);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}

.testimonial_img {
    width: 35px;
    border-radius: 3rem;
    margin-right: 0.8rem;
    /* margin-bottom: 1rem; */
}

.testimonial-bg-quotes {
    width: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.testimonial_name {
    font-size: var(--font-normal);
    font-weight: var(--font-bold);
    margin-bottom: .2rem;
}

.testimonial_rol {
    font-size: 12px;
}

.testimonial_description {
    font-size: var(--font-normal);
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.testimonial-box {
    display: flex;
    align-items: center;
}

/*=============== FORM SECTION ===============*/
.form {
	height: 35vh;
	margin: auto;
	z-index: 1;
	position: relative;
    bottom: -4rem;
}

.form-container {
    background-color: var(--dark-blue);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.form-description {
    margin-bottom: 2rem;
}

.contact_form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.form_contact_input, 
.submit-button  {
    width: 19rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
    font-family: var(--body-font-a);
}

.form_contact_input {
    font-weight: var(--font-regular);
    font-size: var(--font-normal);
}

.submit-button {
    font-weight: var(--font-bold);
    font-size: 1rem;
    color: var(--white);
    background-image: linear-gradient(225deg, var(--blue) 0%, var(--cyan) 100%);
}

.submit-button:hover {
    background-image: linear-gradient(225deg, #65e2d9 0%, #65e2d9 100%);
    cursor: pointer;
}

/* Email address input */
#form .contact_form_div {
    position: relative;
}

#text {
    display: block;
    color: var(--light-red);
    font-family: var(--body-font-b);
    font-weight: var(--font-bold);
    font-size: 13px;
    padding: 5px;
}

#form.invalid .contact_form_div::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(../assets/img/invalid.png);
    background-size: cover;
}

#form.valid .contact_form_div::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(../assets/img/valid.png);
    background-size: cover;
}

/*=============== FOOTER ===============*/
.footer {
    background-color: var(--dark-blue-footer);
}

.footer_container {
    padding: 15rem 1rem 1rem;
}

.footer_logo {
    max-width: 50%;
    margin-bottom: 2.5rem;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 6rem;
}

.footer-about, 
.footer-contact,
.footer-social {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.footer-about,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-box-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.footer-box-icon-gps {
    width: 5%;
    height: 5%;
}

.footer-box-icon {
    width: 5%;
    height: auto;
}

.footer-box-description {
    font-size: var(--font-normal);
    max-width: 256px;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-social li{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--white);
    text-align: center;
}

.footer-social li:hover{
    border: 1px solid var(--cyan);
}

.footer-about-link,
.footer-contact-link {
    color: var(--white);
    font-family: var(--body-font-b);
}

.footer-about-link:hover,
.footer-contact-link:hover {
    font-weight: var(--font-bold);
    cursor: pointer;
}

.footer_social_link {
    position: relative;
    bottom: -4px;
    filter: invert(100%) sepia(32%) saturate(475%) hue-rotate(273deg) brightness(122%) contrast(100%);
}

.footer_social_link:hover {
    filter: invert(83%) sepia(22%) saturate(889%) hue-rotate(119deg) brightness(96%) contrast(88%);
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--dark-blue-testimonial);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue-bg);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue-footer);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 1440px) {
    /*=============== BASE ===============*/
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 6.5rem 0 1rem;
    }

    /*=============== HEADER - NAV ===============*/
    .header {
        height: 120px;
    }

    .nav {
        height: calc(3.5rem + 3rem);
        gap: 50rem;
    }

    .nav_logo {
        width: 90%;
    }
    
    .nav_list {
        gap: 30px;
    }

    .nav_link {
        font-size: 14px;
    }

    /*=============== MAIN ===============*/
    /*=============== INTRO SECTION ===============*/
    .intro {
        background: var(--dark-blue) url("../assets/img/bg-curvy-desktop.svg") bottom
        no-repeat;
        background-size: 100% 24rem;
    }

    .illus-intro {
        max-width: 40%;
        height: auto;
        margin-bottom: 1rem;
    }

    .intro-text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .intro-title {
        max-width: 25%;
    }
    
    .intro-description {
        max-width: 22%;
        font-size: var(--font-normal);
    }

    /*=============== SERVICES SECTION ===============*/
    .box-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .box {
        max-width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-description {
        max-width: 60%;
    }

    /*=============== PRODUCTIVE SECTION ===============*/
    .productive-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        margin-left: 10rem;
    }

    .productive-title {
        font-size: 2.2rem;
        max-width: 55%;
        text-align: left;
    }
    
    .productive-description {
        max-width: 62%;
    }

    /*=============== TESTIMONIAL SECTION ===============*/
    .testimonial-container {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .testimonial-bg-quotes {
        width: 50px;
        position: relative;
        top: 1.6rem;
        left: 22rem;
        z-index: -1;
    }

    .testimonial_card {
        max-width: 20%;
    }

    /*=============== FORM SECTION ===============*/
    .form-container {
        max-width: 48%;
        margin-left: 31rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-title {
        font-size: 2rem;
    }

    .form-description {
        max-width: 88%;
    }

    .contact_form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;
    }

    .form_contact_input {
        width: 30rem;
        height: 3rem;
    }

    .submit-button {
        width: 15rem;
    }

    #text {
        text-align: left;
    }

    /*=============== FOOTER ===============*/
    .footer_logo {
        max-width: 15%;
        margin-left: 8.5rem;
        margin-bottom: 0.5rem;
    }

    .footer-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }

    .footer-box-info {
        gap: 1rem;
    }

    .footer-box-mix {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .footer-box-description {
        max-width: 286px;
    }

    .footer-box-icon-gps {
        width: 10%;
        height: 15%;
    }

    .footer-box-icon {
        width: 10%;
        height: auto;
    }

    .footer-social {
        position: relative;
        bottom: 3rem;
    }

}